/**
 * Root Elements
 */
html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased; }

body {
  height: 100%; }

html,
body {
  height: 100%; }

/**
 * Header Elements
 */
/**
 * Footer Elements
 */
/**
 * Structure Elements
 */
#page {
  margin: 0 auto;
  width: 90%; }

#content:before, #content:after {
  content: " ";
  display: table; }
#content:after {
  content: "";
  display: table;
  clear: both; }
#content #primary {
  float: left;
  width: 70%; }
#content #secondary {
  float: right;
  width: 30%; }

h1,
h1 a {
  font-size: 26px;
  font-size: 2.6rem; }

h2 {
  font-size: 24px;
  font-size: 2.4rem; }

h3 {
  font-size: 22px;
  font-size: 2.2rem; }

h4 {
  font-size: 20px;
  font-size: 2rem; }

h5 {
  font-size: 18px;
  font-size: 1.8rem; }

h6 {
  font-size: 16px;
  font-size: 1.6rem; }

/**
 * Single Posts
 */
/**
 * Single Post Comments
 */
/**
 * Single Pages
 */
/**
 * Post Archives
 */
/**
 * Global Widget Styles
 */
/**
 * Widget Archive
 */
/* List */
/* Dropdown */
/**
 * Widget Calendar
 */
/**
 * Widget Categories
 */
/* List */
/* Dropdown */
/**
 * Widget Pages
 */
/**
 * Widget Meta
 */
/**
 * Widget Recent Comments
 */
/**
 * Widget Recent Entries
 */
/**
 * Widget RSS
 */
/**
 * Widget Search
 */
.search-form .search-submit {
  display: none; }

/**
 * Widget Text
 */
/**
 * Widget Tag Cloud
 */
/**
 * Widget Nav Menu
 */
