// @file Author Styles


/**
 * Author Elements
 */
.entry-author {
	@if $author-avatar == true {
		&-avatar {
			border: $author-avatar-border-width solid $author-avatar-border-color;
			float: left;
			padding: $author-avatar-padding;
		}
		&-info {
			margin-left: $author-avatar-size + 20;
		}
	}
	&-link {
		display: block;
	}
}