// @file Colors

// Getter function for color palettes using SASS maps
// Link: http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
// Usage: color: palette(brand,tan);

@function colors( $palette, $tone ) {
	@return map-get( map-get( $palettes, $palette ), $tone );
}

$palettes: (
	brand: (
		10: #627c83,
		20: #738e96,
		30: #9ebaa0,
		40: #aa9d88,
		50: #e6e6e6
	),
	mono: (
		10: #222,
		20: #333,
		30: #555,
		40: #777,
		50: #eee,
		60: #aaa,
		70: #bbb,
		80: #ccc,
		90: #fff,
		100: #000,
	)
);
