// @file Comments Styles

// Comment Variables
$comment-avatar: true;

$comment-avatar-border-color: #ccc;
$comment-avatar-border-width: 1px;
$comment-avatar-padding: 2px;
$comment-avatar-size: 32px;

//
// Comment Elements
//
.comment-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li.comment {
	border-bottom: 1px solid #ccc;
	margin: 0 0 1em;
	padding: 0 0 1em;
	@if $comment-avatar == true {
		.avatar {
			border: $comment-avatar-border-width solid $comment-avatar-border-color;
			float: left;
			padding: $comment-avatar-padding;
		}

		.fn {
			margin-left: $comment-avatar-padding + $comment-avatar-border-width + 10;
		}

		.comment-metadata,
		.comment-content {
			margin-left: $comment-avatar-size + $comment-avatar-padding + $comment-avatar-border-width + 10;
		}
	}

	.children {
		list-style-type: none;

		li.comment {
			border: none;
			margin: 1em 0 0;
			padding: 0;
		}
	}
}
