// @file Variables

//////////////////// Layout ////////////////////
// http://thoughtbot.github.io/neat-docs/latest/#new-breakpoint

$xsmall: new-breakpoint( max-width 480px );

$small-up: new-breakpoint( min-width 481px );
$small: new-breakpoint( min-width 481px max-width 767px );

$medium-up: new-breakpoint( min-width 768px );
$medium: new-breakpoint( min-width 768px max-width 1023px );

$large-up: new-breakpoint( min-width 1024px );
$large: new-breakpoint( min-width 1024px max-width 1279px );

$xlarge: new-breakpoint( min-width 1280px );

//////////////////// Forms ////////////////////
// Button, Reset, Submit
$form-button-box-shadow-setting: true;
$form-button-text-shadow-setting: true;

$form-button-background: #e6e6e6;
$form-button-border-colors: #ccc #ccc #bbb;
$form-button-border-colors-hover: #ccc #bbb #aaa;
$form-button-border-colors-active: #aaa #bbb #bbb;
$form-button-border-width: 1px;
$form-button-border-radius: 3px;
$form-button-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
$form-button-box-shadow-hover: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
$form-button-box-shadow-active: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
$form-button-text-color: rgba(0, 0, 0, .8);
$form-button-text-size: 1.2rem;
$form-button-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
$form-button-padding: .5em 1em .5em;

// Search
$form-search-box-sizing: border-box;

// Inputs, Selects, Textareas
$form-input-color: #666;
$form-input-border-color: #ccc;
$form-input-border-width: 1px;
$form-input-border-radius: 3px;

$form-input-color-focus: #111;
$form-input-padding: 3px;
$form-input-height: 2em;
$form-input-line-height: 2em;

//////////////////// Tables ////////////////////
$table-border-collapse: true;

$table-border-color: #ddd;
$table-cell-padding: 8px;

//////////////////// Authors ////////////////////
$author-avatar: true;

$author-avatar-border-color: #ccc;
$author-avatar-border-width: 1px;
$author-avatar-padding: 4px;
$author-avatar-size: 96px;

//////////////////// Comments ////////////////////
$comment-avatar: true;

$comment-avatar-border-color: #ccc;
$comment-avatar-border-width: 1px;
$comment-avatar-padding: 2px;
$comment-avatar-size: 32px;

//////////////////// Galleries ////////////////////











