// @file Content Styles

/**
 * Content Globals
 */
.hentry {
	@include clearfix;
	border-bottom: 1px solid #ccc;
	margin-bottom: 1em;
	padding-bottom: 1em;
	.entry-footer {
		clear: both;
	}
}

/**
 * Post Archives
 */
.archive,
.blog {
	.has-post-thumbnail {
		.entry-thumbnail {
			@include span-columns( 3 of 8 );
		}
	}
}

/**
 * Single Posts
 */

/**
 * Single Pages
 */

