// @file Galleries Styles

/**
 * Gallery Elements
 */
.gallery {
	.gallery-item {
		@include span-columns(3);
		@include omega(4n);
		margin-bottom: 2em;
		a {
			display: block;
		}
		img {
			border: 1px solid #ccc;
			margin: 0 auto;
			padding: 6px;
		}
	}
}