// @file Global Styles

// Type Sizes
$base-type-size: 1;
$base-type-pixel-size: 10px;

/**
 * Root Elements
 */
html {
	font-size: $base-type-pixel-size;
	-webkit-font-smoothing: antialiased;
}

html,
body {
	height: 100%;
}

/**
 * Header Elements
 */

/**
 * Footer Elements
 */

/**
 * Meta Elements
 */
.edit-link {
	display: block;
	a {
		color: colors(brand, 10);
		&:hover {
			color: colors(brand, 20);
		}
	}
}

/**
 * Media Elements
 */
img {
	display: block;
	height: auto;
	max-width: 100%;
}
