// @file global override styles

/**
 * Root Elements
 */
html {
	font-size: $base-font-size;
	-webkit-font-smoothing: antialiased;
}

body {
	height: 100%;
}

html,
body {
	height: 100%;
}

/**
 * Header Elements
 */

/**
 * Footer Elements
 */