// @file Global Styles

*, *:before, *:after {
	box-sizing: inherit;
}

/**
 * Root Elements
 */
html {
	box-sizing: border-box;
	font-size: $base-font-size;
	-webkit-font-smoothing: antialiased;
}

body {
	height: 100%;
	font-family: $font-stack-1;
	color: $color-5;
}

html,
body {
	height: 100%;
}

/**
 * Header Elements
 */

/**
 * Footer Elements
 */

/**
 * Media Elements
 */
img {
	display: block;
	height: auto;
	max-width: 100%;
}