// @file Global Styles

/**
 * Root Elements
 */
html {
	font-size: $base-font-pixel-size;
	-webkit-font-smoothing: antialiased;
}

html,
body {
	height: 100%;
}

button,
input,
select,
textarea {
	-webkit-appearance: none;
	border-radius: 0;
}

/**
 * Header Elements
 */

/**
 * Footer Elements
 */

/**
 * Media Elements
 */
img {
	display: block;
	height: auto;
	max-width: 100%;
}
