// @file Global Styles

// Type Sizes
$base-type-size: 1em;

//
// Root Elements
//
html {
	font-size: $base-type-size;
	-webkit-font-smoothing: antialiased;
}

html,
body {
	height: 100%;
}

//
// Header Elements
//

//
// Footer Elements
///

//
// Meta Elements
//
.edit-link {
	display: block;

	a {
		color: palette(brand, pale-sky);

		&:hover {
			color: palette(brand, juniper);
		}
	}
}

//
// Media Elements
//
img {
	display: block;
	height: auto;
	max-width: 100%;
}
