// @file Layout Styles

// Media Queries
$xsmall: new-breakpoint( max-width 480px );
$small:  new-breakpoint( max-width 767px );
$medium: new-breakpoint( max-width 1023px );
$large:  new-breakpoint( max-width 1279px );
$xlarge: new-breakpoint( min-width 1280px );

/**
 * Structure Elements
 */
#page {
	@include outer-container;
}

#content {
	@include clearfix;
	#primary {
		@include span-columns(8);
		@include media($xsmall) {
			@include span-columns(12);
		}
	}
	#secondary {
		@include span-columns(4);
		@include media($xsmall) {
			@include span-columns(12);
		}
	}
}

#footer {

}