// @file Layout Styles

$xsmall: new-breakpoint( max-width 480px );

$small-up: new-breakpoint( min-width 481px );
$small: new-breakpoint( min-width 481px max-width 767px );

$medium-up: new-breakpoint( min-width 768px );
$medium: new-breakpoint( min-width 768px max-width 1023px );

$large-up: new-breakpoint( min-width 1024px );
$large: new-breakpoint( min-width 1024px max-width 1279px );

$xlarge: new-breakpoint( min-width 1280px );

//
// Layout Elements
//
.site {
	@include outer-container;
}

.site-content {
	@include clearfix;

	.content-area {
		@include span-columns(12);
		@include media($medium-up) {
			@include span-columns(8);
		}
	}

	.widget-area {
		@include span-columns(12);
		@include media($medium-up) {
			@include span-columns(4);
		}
	}
}

.site-footer {

}
