// @file layout styles

/**
 * Structure Elements
 */
#page {
	margin: 0 auto;
	width: 90%;
}

#content {
	@include clearfix();
	#primary {
		float: left;
		width: 70%;
	}
	#secondary {
		float: right;
		width: 30%;
	}
}

#footer {

}