// @file Sass Mixins
// @link krasimirtsonev.com/blog/article/SASS-mixins-extends-and-placeholders-differences-use-cases

//
// Provide a hover effect for non-touch devices, turn it into an Active state for mobile, and maintain a fallback.
// @requires Modernizr as a JS dependency to get .no-touch classes
// Adds styles via @content
// @jhouge
//
	@mixin touch-hover( $disabled: false ) {

	@if $disabled {
		.no-js &,
		.no-js &:hover, // the fallback
		.no-js &:focus,
		.js.no-touchevents &,
		.js.no-touchevents &:hover, // enhanced for no-touch
		.js.no-touchevents &:focus,
		.js.touchevents &,
		.js.touchevents &:active { // relay same styles to active for touch devices
				@content;
		}

	} @else {
		.no-js &:hover, // the fallback
		.no-js &:focus,
		.js.no-touchevents &:hover, // enhanced for no-touch
		.js.no-touchevents &:focus,
		.js.touchevents &:active { // relay same styles to active for touch devices
				@content;
		}
	}
}

// rt = Responsive Typography
// @params = Each of the params are synced up with the breakpoints that are defined in the _config.scss file.
// Feel free to add/remove on per project basis.
// @usage h1 { @include rt(12px, '', 16px, 4rem, 20px); }

@mixin rt($default:null, $sm:null, $md:null, $lg:null, $xl:null) {
	@if $default == null {
		@error "You must provide at least one value.";
	} @else {
		font-size: $default;
	}
	@if $sm != null and $sm != '' {
		@include media($small) {
			font-size: $sm;
		}
	}
	@if $md != null and $md != '' {
		@include media($medium) {
			font-size: $md;
		}
	}
	@if $lg != null and $lg != '' {
		@include media($large) {
			font-size: $lg;
		}
	}
	@if $xl != null and $xl != '' {
		@include media($xlarge) {
			font-size: $xl;
		}
	}
}
