// @file Typography Styles

//
// Typography Variables
//

// Font Stacks
$font-stack-sans: $helvetica;
$font-stack-serif: $georgia;

// Heading Sizes
$heading-size-1: $base-type-size * 2.4rem;
$heading-size-2: $base-type-size * 2.2rem;
$heading-size-3: $base-type-size * 2.0rem;
$heading-size-4: $base-type-size * 1.8rem;
$heading-size-5: $base-type-size * 1.6rem;
$heading-size-6: $base-type-size * 1.4rem;

$paragraph-size-1: $heading-size-6;

// Line-Heights
$line-height: 1.5;

// establishing some vertical rythm for no type elements
// use this on margin bottom etc.
$vert-line-height: $line-height + em;

// Tables
$table-border-collapse: true;

$table-border-color: #ddd;
$table-cell-padding: 8px;

//
// Typography
//

body,
button,
input,
select,
textarea {
	color: #000;
	font-family: $font-stack-sans;
	font-size: $paragraph-size-1;
	line-height: $line-height;
}

a:link,
a:visited {
	color: colors(brand, 10);
	text-decoration: none;
}
a:hover,
a:active {
	color: colors(brand, 20);
	text-decoration: underline;
}

a[href^=tel]{
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
	font-size: $heading-size-1;
	&.site-title {
		font-size: $heading-size-1 * 1.5;
	}
	&.entry-title {

	}
	&.widget-title {

	}
}

h2 {
	font-size: $heading-size-2;
	&.comments-title {

	}
}

h3 {
	font-size: $heading-size-3;
	&.reply-title {

	}
}

h4 {
	font-size: $heading-size-4;
}

h5 {
	font-size: $heading-size-5;
}

h6 {
	font-size: $heading-size-6;
}

p {
	margin-bottom: 1.5em;
}

b, strong {
	font-weight: bold;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	padding: 1em 2em;
	border-left: 5px solid #eee;
	margin: 0 1.5em 1.5em;
}

blockquote p:last-child {
	margin-bottom: 0;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

table {
	border-spacing: 0;
	width: 100%;
	@if $table-border-collapse == true {
		border-collapse: collapse;
	}
	th {
		padding: $table-cell-padding;
		border-bottom: 2px solid $table-border-color;
	}
	td {
		padding: $table-cell-padding;
		border-top: 1px solid $table-border-color;
	}
	caption {
		text-align: center;
	}
	// zebra striping pattern
	&.striped {
		tbody {
			tr:nth-of-type(odd) {
				background-color: $table-border-color;
			}
		}
	}
}
