// @file Widget Styles

//
// Global Widget Styles
//
.widget {

	.widget-area & {
		margin-bottom: $vert-line-height;
	}

	.widget-title {

	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: .25em;

			.children,
			.sub-menu {
				margin-left: 1em;
			}
		}
	}

	.count {
		background-color: palette(brand, pale-sky);
		border-radius: $form-input-border-radius;
		color: palette(brand, 90);
		padding: 0 .5em;
	}
}

//
// Widget Archive
//

// scss-lint:disable SelectorFormat
.widget_archive {
// scss-lint:enable SelectorFormat

	.widget-title {

	}

	// List
	ul {

		li {

			a {

			}
		}
	}

	// Dropdown
	select {

		option {

		}
	}
}

//
// Widget Calendar
//

// scss-lint:disable SelectorFormat
.widget_calendar {
// scss-lint:enable SelectorFormat

	.widget-title {

	}

	table {

		caption {

		}

		tr {

		}

		td {

			.pad {

			}

// core wp widget output
// scss-lint:disable IdSelector
			#prev {

			}

			#next {

			}
// scss-lint:enable IdSelector
		}

		thead {

			th {
				text-align: center;
			}
		}

		tbody {

			td {
				text-align: center;

// core wp widget output
// scss-lint:disable IdSelector
				&#today {
					background-color: palette(brand, norway);
					color: palette(brand, 90);
				}
// scss-lint:enable IdSelector
			}
		}

		tfoot {

			td {

			}
		}
	}
}

//
// Widget Categories
//

// scss-lint:disable SelectorFormat
.widget_categories {
// scss-lint:enable SelectorFormat

	.widget-title {

	}

	// List
	ul {

		li {

			&.cat-item {

			}

			a {

			}
		}
	}

	// Dropdown
	select {

		option {

		}
	}
}

//
// Widget Pages
//

// scss-lint:disable SelectorFormat
.widget_pages {
// scss-lint:enable SelectorFormat

	.widget-title {

	}

	// List
	ul {

		li {

			// core wp widget output
			// scss-lint:disable SelectorFormat
			&.page_item {
			// scss-lint:enable SelectorFormat

			}

			a {

			}
		}
	}
}

//
// Widget Meta
//

// scss-lint:disable SelectorFormat
.widget_meta {
// scss-lint:enable SelectorFormat

	.widget-title {

	}


	// List
	ul {

		li {

			a {

			}
		}
	}
}

//
// Widget Recent Comments
//

// scss-lint:disable SelectorFormat
.widget_recent_comments {
// scss-lint:enable SelectorFormat

	.widget-title {

	}

	// List
	ul {

		li {

			a {

			}
		}
	}
}

//
// Widget Recent Entries
//

// scss-lint:disable SelectorFormat
.widget_recent_entries {
// scss-lint:enable SelectorFormat

	.widget-title {

	}

	// List
	ul {

		li {

			a {

			}
		}
	}
}

//
// Widget RSS
//

// scss-lint:disable SelectorFormat
.widget_rss {
// scss-lint:enable SelectorFormat

	.widget-title {

	}

	// List
	ul {

		li {

			a {

			}

			.rss-date {

			}

			// core wp widget output
			// scss-lint:disable SelectorFormat
			.rssSummary {
			// scss-lint:enable SelectorFormat

			}

			cite {

			}
		}
	}
}

//
// Widget Search
//

// scss-lint:disable SelectorFormat
.widget_search {
// scss-lint:enable SelectorFormat

	.widget-title {

	}
}

.search-form {

	label {

		span {

		}

		input {

		}
	}

	.search-submit {
		display: none;
	}
}

//
// Widget Text
//

// scss-lint:disable SelectorFormat
.widget_text {
// scss-lint:enable SelectorFormat

	.widget-title {

	}

	.textwidget {

		p {

		}
	}
}

//
// Widget Tag Cloud
//

// scss-lint:disable SelectorFormat
.widget_tag_cloud {
// scss-lint:enable SelectorFormat

	.widget-title {

	}

	.tagcloud {

	}
}

//
// Widget Nav Menu
//

// scss-lint:disable SelectorFormat
.widget_nav_menu {
// scss-lint:enable SelectorFormat

	.widget-title {

	}

	// List
	ul {

		li {

			a {

			}
		}
	}
}
