/**
 * @file Widget Styles
 */

/**
 * Global Widget Styles
 */
.widget {
	.widget-title {

	}
}

/**
 * Widget Archive
 */
.widget_archive {
	.widget-title {

	}
}

/* List */
.widget_archive {
	ul {
		li {
			a {

			}
		}
	}
}

/* Dropdown */
.widget_archive {
	select {
		option {

		}
	}
}

/**
 * Widget Calendar
 */
.widget_calendar {
	.widget-title {

	}
}

.widget_calendar {
	table {
		caption {

		}
		tr {

		}
		td {
			.pad {

			}
			#prev {

			}
			#next {

			}
		}
		thead {
			th {

			}
		}
		tbody {
			td {

			}
		}
		tfoot {
			td {

			}
		}
	}
}

/**
 * Widget Categories
 */
.widget_categories {
	.widget-title {

	}
}

/* List */
.widget_categories {
	ul {
		li {
			&.cat-item {

			}
			a {

			}
		}
	}
}

/* Dropdown */
.widget_categories {
	select {
		option {

		}
	}
}

/**
 * Widget Pages
 */
.widget_pages {
	.widget-title {

	}
}

.widget_pages {
	ul {
		li {
			&.page_item {

			}
			a {

			}
		}
	}
}

/**
 * Widget Meta
 */
.widget_meta {
	.widget-title {

	}
}

.widget_meta {
	ul {
		li {
			a {

			}
		}
	}
}

/**
 * Widget Recent Comments
 */
.widget_recent_comments {
	.widget-title {

	}
}

.widget_recent_comments {
	ul#recentcomments {
		li {
			a {

			}
		}
	}
}

/**
 * Widget Recent Entries
 */
.widget_recent_entries {
	.widget-title {

	}
}

.widget_recent_entries {
	ul {
		li {
			a {

			}
		}
	}
}

/**
 * Widget RSS
 */
.widget_rss {
	.widget-title {

	}
}

.widget_rss {
	ul {
		li {
			a.rsswidget {

			}
			.rss-date {

			}
			.rssSummary {

			}
			cite {

			}
		}
	}
}

/**
 * Widget Search
 */
.widget_search {
	.widget-title {

	}
}

.search-form {
	label {
		span {

		}
		input {

		}
	}
	.search-submit {
		display: none;
	}
}

/**
 * Widget Text
 */
.widget_text {
	.widget-title {

	}
}

.widget_text {
	.textwidget {
		p {

		}
	}
}

/**
 * Widget Tag Cloud
 */
.widget_tag_cloud {
	.widget-title {

	}
}

.widget_tag_cloud {
	.tagcloud {

	}
}

/**
 * Widget Nav Menu
 */
.widget_nav_menu {
	.widget-title {

	}
}

.widget_nav_menu {
	ul {
		li {
			a {

			}
		}
	}
}