// @file Styles
//
// This is the master styles.scss file for our theme, which contains an annotated
// list of @import functions which comprise the separate stylesheets which make up
// specific parts of the theme.

// Theme Modules
//
// Modules, designated with an underscore prefix, don't generate any CSS output
// themselves but instead contain mixins and definte base variables used by other
// stylesheets.

// CSS Philosiphies
//
// Use rems for font sizes
// Use inline media queries
// Use inline IE styles

// Variables

// Font Stacks
$font-stack-1: Arial, Helvetica, sans-serif;
$font-stack-2: Georgia, serif;

// Colors
$color-1: #ffffff; // White
$color-2: #000000; // Black
$color-3: #cccccc; // Light Gray
$color-4: #666666; // Medium Gray
$color-5: #333333; // Dark Gray
$color-6: #D62901; // Red

// Typography
$base-font-size: 10px;

$heading-size-1: $base-font-size * 2.4;
$heading-size-2: $base-font-size * 2.2;
$heading-size-3: $base-font-size * 2.0;
$heading-size-4: $base-font-size * 1.8;
$heading-size-5: $base-font-size * 1.6;
$heading-size-6: $base-font-size * 1.4;

// Susy
// @link susydocs.oddbird.net
@import "_grids";

// Media Query Breakpoints
// @link http://breakpoint-sass.com/
$mq-1: 0px 320px;
$mq-2: 321px 480px;
$mq-3: 481px 640px;
$mq-4: 641px 767px;
$mq-5: 768px 1023px;
$mq-6: 1024px 9999px;

// CSS preprocess logic
	@import "preprocess/_extends";
	@import "preprocess/_placeholders";
	@import "preprocess/_mixins";

// Component Styles

	// Global Styles
	@import "_global";

	// Layout Styles
	@import "_layout";

	// Typography Styles
	@import "_typography";

	// Navigation Styles
	@import "_navigation";

	// Content Styles
	@import "_content";

	// Widget Styles
	@import "_widgets";

	// Print Styles
	// @import "_print";