// @file Styleguide Styles

	@import "styles";

// @todo: sassify my color variables into a loop

/**
 * Page Globals
 */

.styleguide-section {
	@inlcude clearfix();
	margin-bottom: 2em;
	&-title {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		color: red;
		margin-bottom: 1em;
	}
}

/**
 * Colors
 */
.color-block {
	@include span-columns(3);
	.color {
		border: 1px solid #ccc;
		height: 100px;
		margin-bottom: 1em;
		text-indent: -9999px;
		width: 100%;
	}
	.color-shade {
		@include span-columns(3);
		border: 1px solid #ccc;
		height: 20px;
		text-indent: -9999px;
	}
}

#color-block-1 .color {
	background-color: $color-1;
}

#color-block-1 {
	.color-shade-one {
		background-color: lighten( $color-1, 20% );
	}
	.color-shade-two {
		background-color: lighten( $color-1, 10% );
	}
	.color-shade-three {
		background-color: darken( $color-1, 10% );
	}
	.color-shade-four {
		background-color: darken( $color-1, 20% );
	}
}

#color-block-2 .color {
	background-color: $color-2;
}

#color-block-2 {
	.color-shade-one {
		background-color: lighten( $color-2, 20% );
	}
	.color-shade-two {
		background-color: lighten( $color-2, 10% );
	}
	.color-shade-three {
		background-color: darken( $color-2, 10% );
	}
	.color-shade-four {
		background-color: darken( $color-2, 20% );
	}
}

#color-block-3 .color {
	background-color: $color-3;
}

#color-block-3 {
	.color-shade-one {
		background-color: lighten( $color-3, 20% );
	}
	.color-shade-two {
		background-color: lighten( $color-3, 10% );
	}
	.color-shade-three {
		background-color: darken( $color-3, 10% );
	}
	.color-shade-four {
		background-color: darken( $color-3, 20% );
	}
}

#color-block-4 .color {
	background-color: $color-4;
}

#color-block-4 {
	.color-shade-one {
		background-color: lighten( $color-4, 20% );
	}
	.color-shade-two {
		background-color: lighten( $color-4, 10% );
	}
	.color-shade-three {
		background-color: darken( $color-4, 10% );
	}
	.color-shade-four {
		background-color: darken( $color-4, 20% );
	}
}