/**
 * Page Globals
 */

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.styleguide-section {
	margin-bottom: 2em;
}

.styleguide-section-title {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: red;
	margin-bottom: 1em;
}

/**
 * Colors
 */
.color-block {
	float: left;
	margin-right: 5%;
	width: 20%;
}

.color-block .color {
	border: 1px solid #ccc;
	height: 100px;
	margin-bottom: 1em;
	width: 100%;
}

.color-block .color-shade {
	border: 1px solid #ccc;
	float: left;
	height: 20px;
	margin-right: 5%;
	width: 20%;
}