/**
 * @file Preprocess Configuartion Settings
 */

/**
 * =Table of Contents
 *
 * 1.0 - Layout
 * 2.0 - Typography
 * 	2.1 Headings
 *  2.2 Text Elements
 * 3.0 - Widgets
 */

/**
 * 1.0 Layout
 */

/**
 * 2.0 Typography
 */
$base-color: #404040;
$base-font-stack: sans-serif;
$base-line-height: 1;

/* 2.1 Headings */
$heading-margin: 0 0 .5em 0;

/* 2.2 Text Elements */
$text-element-line-height: 1.25;

/**
 * 3.0 Widgets
 */
$widget-margin: 0 0 1.5em;