/* line 3, ../sass/_global.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Root Elements
 */
/* line 10, ../sass/_global.scss */
html {
  box-sizing: border-box;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

/* line 16, ../sass/_global.scss */
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}

/* line 22, ../sass/_global.scss */
html,
body {
  height: 100%;
}

/**
 * Header Elements
 */
/**
 * Footer Elements
 */
/**
 * Media Elements
 */
/* line 38, ../sass/_global.scss */
img {
  display: block;
  height: auto;
  max-width: 100%;
}

/**
 * Structure Elements
 */
/* line 6, ../sass/_layout.scss */
#page {
  margin: 0 auto;
  width: 90%;
}

/* line 18, ../sass/preprocess/_mixins.scss */
#content:before, #content:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/preprocess/_mixins.scss */
#content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 13, ../sass/_layout.scss */
#content #primary {
  float: left;
  width: 70%;
}
/* line 17, ../sass/_layout.scss */
#content #secondary {
  float: right;
  width: 30%;
}

/* line 5, ../sass/_typography.scss */
h1 {
  font-size: 24px;
}

/* line 6, ../sass/_typography.scss */
h2 {
  font-size: 22px;
}

/* line 7, ../sass/_typography.scss */
h3 {
  font-size: 20px;
}

/* line 8, ../sass/_typography.scss */
h4 {
  font-size: 18px;
}

/* line 9, ../sass/_typography.scss */
h5 {
  font-size: 16px;
}

/* line 10, ../sass/_typography.scss */
h6 {
  font-size: 14px;
}

/**
 * Single Posts
 */
/**
 * Single Post Comments
 */
/**
 * Single Pages
 */
/**
 * Post Archives
 */
/**
 * Global Widget Styles
 */
/**
 * Widget Archive
 */
/* List */
/* Dropdown */
/**
 * Widget Calendar
 */
/**
 * Widget Categories
 */
/* List */
/* Dropdown */
/**
 * Widget Pages
 */
/**
 * Widget Meta
 */
/**
 * Widget Recent Comments
 */
/**
 * Widget Recent Entries
 */
/**
 * Widget RSS
 */
/**
 * Widget Search
 */
/* line 244, ../sass/_widgets.scss */
.search-form .search-submit {
  display: none;
}

/**
 * Widget Text
 */
/**
 * Widget Tag Cloud
 */
/**
 * Widget Nav Menu
 */
